---

---

<div class="about__grid">
    <div>
        <div class="about__grid--flex">
            <div>
                <img src="/images/arrow-color-gradient.svg" class="about__grid-arrow--transformed"/>
            </div>
            <div>
                <h6>Kristina Huber</h6>
                <p class="p--no-margin">Gründerin & Trainerin</p>
            </div>
        </div>
        <img src="/images/kristina.webp" class="about__img"/>   
    </div>
   
    <div class="about__grid-text">
        <h4>Die Initiatorin von Zumba®-Stream</h4>
        <p>Ich bin Kristina und deine Haupttrainerin im Online Stream. Ich habe selbst vor Jahren als Teilnehmerin angefangen und habe mich direkt in Zumba® verliebt!</p>
        <p>Mit Zumba® -Stream habe ich mir einen Lebenstraum erfüllt, die Energie und Lebensfreude durch Zumba® Online auch an andere weiterzugeben.</p>
    </div>
</div>

<style>
    .about__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.4em;
        margin: 4em 0;
    }

    .about__grid--flex {
        display: flex;
        gap: 1em;
    }

    .about__img {
        width: 80%;
        margin: 1.2em 0;
        border-radius: var(--border-radius);
    }

    .about__person {
        margin-top: 1.6em;
    }
   
    .about__grid-arrow--transformed {
        transform: rotate(360deg);
        transform: scaleY(-1)
        
    }
    
    @media only screen and (min-width: 40em) {
        .about__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    }

</style>