---

---

<div class="address__grid">
    <div><i class="icofont-phone  icofont-2x"></i></div>
    <div><p class="p--no-margin">+49 176 23686035</p></div>
    <div><i class="icofont-whatsapp  icofont-2x"></i></div>
    <div><p class="p--no-margin">+49 178 7884484</p></div>
    <div><i class="icofont-email  icofont-2x"></i></div>
    <div><a href="mailto:dance@zumba-stream.com " class="link">dance@zumba-stream.com </a></div>
</div>

<style>
    .address__grid {
        display: grid;
        grid-template-columns: 10% 90%;
        gap: 1em;
        align-content: start;
        margin-top: 2em;
    }
</style>