---
const { img, directionClass, alignClass, marginClass="" } = Astro.props;
---

<div class="arrow__container">
    { img &&
        <img src={ img.src } alt={ img.alt } class={`
    arrow
    ${directionClass}
    ${alignClass}
    ${marginClass}
    `
    } />
    }
</div>

<style>
    .arrow__container {
        display: flex;
        justify-content: center;
    }

    .arrow {
        display: flex;
    }

    .align--top {
        display: flex;
        margin-bottom: auto;
        margin-right: 3em;
    }

    .align--bottom {
        display: flex;
        justify-items: flex-end;
        margin-top: auto;
    }

    .align--right {
        display: flex;
        margin-left: auto;
    }

    .align--center {
        margin: 0 auto;
    }

    .rotate--45 {
        transform: rotate(45deg);
    }

    .rotate--90 {
        transform: rotate(90deg);
    }

    .rotate--scale-1 {
        transform: scaleX(-1);
    }

    @media only screen and (min-width: 40em) {
        .arrow__container {
        display: flex;
        justify-content: unset;
    }

    .margin--bottom {
        margin-bottom: 1em;
    }
    }
</style>

