---
const { img } = Astro.props;
---

<div class="image__container">
    {img &&
    (<img class="image" src={ img.src } alt={ img.alt }/>)
    }
</div>

<style>
    .image__container {
        margin: 0.2em 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image {
        border-radius: var(--border-radius);
    }

    @media only screen and (min-width: 30em) {
        .image__container {
        margin: 2em 0;
    }  
    }
</style>