---
const { img, text, subtext = "" } = Astro.props;
---

<div class={`
card__container
`}>
    { img &&
    (<img class="card__img" width="50" src={ img.src } alt={ img.alt }/>)
    }
    <p class="card__text">{ text }</p>
    <p class="card__subtext">{ subtext }</p>
</div>

<style>

.card__container {
    border-radius: var(--border-radius);
    box-shadow: 12px 16px 18px #eaedee;
    padding: 1.8em;
    background-color: #fff;
    margin: 1.6em 1em;
    max-width: 320px;
    position: relative;
}

.card__container--smaller {
    max-width: 20em;
}

.card__img {
    margin-bottom: 0.4em;
    position: absolute;
    top: -1em;
    left: -1em;
}

.card__text {
    font-size: var(--fs-300);
}

.card__subtext {
    font-weight: bold;
    font-size: var(--fs-xs);
}

@media only screen and (min-width: 60em) {
    .card__container {
        margin: 2.2em 1em;
    }
}

</style>