---
const { figure } = Astro.props;
---

<div class="figure__container">
    { figure && 
	(<figure>
	<img class="figure" src={ figure.src } alt={ figure.alt } width="560"/></figure>
    )}
	<figcaption class="figure__cap"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3737860/" class="link  link--small" target="_blank">Luettgen M. et al.</a> Zumba(®): Is the "fitness-party" a good workout? J Sports Sci Med. 2012</figcaption>
    
</div>

<style>
.figure__container {
    margin-top: 1em;
}

.figure__cap {
    font-size: var(--fs-xs);
    font-family: var(--ff-text);
}

.figure__link {
    color: var(--first-color);
}

.figure__link:hover {
    color: var(--second-color);
}

@media only screen and (min-width: 40em) {
    .figure__container {
    margin-top: 0;
}
}

</style>