---

---

<footer>
    <div class="footer__grid">
        <div>
            <img src="/images/logo-white.svg" alt="Logo von Salsa Dance Studio" width="200"/>
            <p class="slogan">Where the party starts</p>
            <div class="footer__link-container">
                <a href="https://www.facebook.com/zumbastream/"><i class="icofont-facebook  icofont-2x  footer__icon"></i></a>
                <a href="https://www.instagram.com/zumbamainz.de/"><i class="icofont-instagram  icofont-2x  footer__icon"></i></a>
                <a href="https://www.twitch.tv/zumbamainz"><i class="icofont-twitch  icofont-2x  footer__icon"></i></a>
                <a href="https://www.youtube.com/@zumba-stream"><i class="icofont-youtube-play  icofont-2x  footer__icon"></i></a>
            </div>
            <p class="footer__copyright">© 2023 Salsa Dance Studio Mainz GmbH</p>
        </div>
        <div>
                <div>
                    <h6 class="text--white">Für Mitglieder</h6>
                </div>
                <div>
                    <a class="footer__link" href="https://zim.uscreen.io/catalog">Mitgliederbereich</a>
                </div>
                <div>
                    <a class="footer__link" href="https://zim.uscreen.io/sign_in">Login</a>
                </div>
                <div><a class="footer__link" href="">Mitglied werden</a>
                </div>
        </div>
            <div>
                <div>
                <h6 class="text--white">Rechtliches</h6>
            </div>
            <div><a class="footer__link" href="/kontakt">Kontakt & Support</a>
            </div>
            <div>
                <a class="footer__link" href="/impressum">Impressum</a>
            </div>
            <div><a class="footer__link" href="/datenschutz">Datenschutzerklärung</a>
            </div>
            <div>
                <a class="footer__link" href="/geschaeftsbedingungen">AGBs</a>
            </div>
        </div>
    </div>
    
</footer>


<style>
    .footer__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        margin-top: 6em;
        background-color: var(--first-color);
        padding: 4em;
    }

    .footer__container {
        margin-top: 0.6em;
    }

    .footer__link-container {
        margin-top: 1.4em;
    }

    .footer__link {
        margin: 0.6em 0;
        color: #fff;
        display: inline-block;
        position: relative;
        z-index: 1;
        padding: 0 0.1em;
    }

    .footer__link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0.2em;
        height: 0.46em;
        width: 100%;
        border-radius: 2px;
        background: transparent;
        z-index: -1;
        transition: height .30s cubic-bezier(0.6,0,.4,1);
      }
      
      .footer__link:hover::after {
        height: 86%;
        content: '';
        width: 100%;
        border-radius: 2px;
        background: linear-gradient(45deg, var(--first-color), var(--third-color), var(--second-color), var(--fourth-color));
        z-index: -1;
        transition: height .20s cubic-bezier(0.6,0,.4,1);
      }

      .footer__copyright {
        color: #fff;
        font-size: var(--fs-xs);
      }

      .slogan {
        color: #fff;
        font-weight: bold;
        font-family: 'Kalam', Arial, Helvetica, sans-serif;
        margin-top: 0;
        margin-bottom: 2em;
      }

    @media only screen and (min-width: 60em) {
        .footer__grid {
            grid-template-columns: 2fr 1fr 1fr;
        }
    }
    
    .footer__icon {
        color: #fff;
        margin: 0 0.2em;
        text-decoration: none;
    }

 
</style>