---
const { gridColumnClass, gridGapClass = "", gridAreaClass = "", gridMarginClass = "" } = Astro.props;
---

<div class={`
grid
${gridColumnClass}
${gridGapClass}
${gridAreaClass}
${gridMarginClass}
`}>
    <slot/>
</div>
<style>
    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid-1fr,
    .grid-2fr,
    .grid-3fr,
    .grid-3fr--1fr,
    .grid-3fr--3fr,
    .grid-4fr,
    .grid-6fr  {
        grid-template-columns: 1fr;
        gap: 1em;
    }

    .grid-8fr {
        grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            justify-content: center;
        }

    .grid__gap--bigger {
        gap: 1.8em;
    }

    .grid__gap--smaller {
        gap: 1.2em;
    }

    .grid__margin-bottom--120 {
        margin-bottom: 120px;
    }

    @media only screen and (min-width: 30em) {
        .grid-3fr--3fr {
            grid-template-columns: repeat(3, 1fr);
        }

        .grid-8fr {
        grid-template-columns: repeat(2, 1fr);
        }
    }

    @media only screen and (min-width: 40em) {
        
        .grid-2fr,
        .grid-3fr,
        .grid-4fr {
            grid-template-columns: repeat(2, 1fr);
        }

        .row--span-2 {
            grid-row: span 2;
        }

        .grid-8fr {
        grid-template-columns: repeat(3, 1fr);
        }
        
    }

    @media only screen and (min-width: 60em) {
       
        .grid-3fr,
        .grid-3fr--1fr {
            grid-template-columns: repeat(3, 1fr);
        }

        .grid__gap {
        gap: 3.8em;
    }
    }

    @media only screen and (min-width: 80em) {
        .grid-4fr {
            grid-template-columns: repeat(4, 1fr);
        }

        .grid-6fr {
            grid-template-columns: repeat(6, 1fr);
        }

        .grid-8fr {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        margin: 0 auto;
        }
    }

    .grid__text {
        list-style: none;
    }

    .grid__p {
        padding: 4em 0;
    }
</style>