---
const { img } = Astro.props;
---

<div>
{ img &&
(<img src={ img.src } alt={ img.alt } class="img"/>)
}
</div>

<style>
    .img {
        margin: 1em 0;
        border-radius: var(--border-radius);
    }
</style>