---

---

<div class="reading-progress"></div>

<style>
  .reading-progress {
    position: fixed;
    height: 4px;
    background: linear-gradient(45deg, var(--first-color), var(--third-color), var(--second-color), var(--fourth-color));
    left: 0;
    z-index: 5;
    transition: width 500ms ease-out;
  }
</style>

<script>
  import { throttle } from "../lib/utils";
  const readingProgress: HTMLElement | null = document.querySelector(".reading-progress");
  const footerHeight = 250;
  document.addEventListener(
    "scroll",
    throttle(
      function (e) {
        let w =
          ((document.body.scrollTop || document.documentElement.scrollTop) /
            (document.documentElement.scrollHeight - document.documentElement.clientHeight - footerHeight)) *
          100;
        readingProgress?.style.setProperty("width", w + "%");
      },
      { maxCalls: 25, duration: 500 }
    )
  );
</script>
