---
const { heading = "", backgroundImgClass="", paddingClass= "", headingColorClass= "" } = Astro.props;
---
<div class={`
section__background-img
${backgroundImgClass}
`}>
<section class={`
section
${paddingClass}
`}>
    <h2 class={`
    section__heading
    ${headingColorClass}
    `}>{ heading }</h2>
    <slot />
</section>
</div>
<style>

   .padding--120 {
        padding: 60px 0;
    }

    .padding--60 {
        padding: 60px 0 60px 0;
    }

    .padding--30 {
        padding: 30px 0 60px 0;
    }

    .padding--top-negative {
        padding: -60px 0 60px 0;
    }

    .padding--00 {
        padding: 0 0 120px 0;
    }

    .section__heading {
        max-width: 90%;
        text-align: right;
    }

    .section__heading--white {
        color: #fff;
    }

    .section__background-img {
        background-size: fit;
        background-repeat: no-repeat;
    }

    .color-patch {
        background-image: url('/images/color-patch.svg');
        background-position: right;
    }

    .color-patch--small {
        background-image: url('/images/color-patch-small.svg');
        background-position: bottom;
        background-size: contain;
    }

    .color-patch--big {
        background-image: url('/images/color-patch-orange.svg');
        background-position: left;
    }

    .color-patch--pink-flipped {
        background-image: url('/images/color-patch-small-flipped.svg');
        background-position: bottom left;
        background-size: 60%;
    }

    .color-patch--pink {
        background-image: url('/images/color-patch-pink.svg');
        background-position: center;
        background-size: cover;
    }

    .color-gradient--bluepinkorange {
        background-image: url('/images/color-gradient-bluepinkorange.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .linear-gradient {
        background-image: linear-gradient(45deg, var(--first-color), var(--third-color), var(--second-color), var(--fourth-color));
        padding: 60px 0;
    }

    @media only screen and (min-width: 40em) {
        .section__heading {
        max-width: 60%;
        margin: 0 auto 1.6em auto;
    }

    .padding--180 {
        padding: 180px 0 60px 0;
    }

    .padding--120 {
        padding: 120px 0;
    }

    .color-patch--small {
        background-image: url('/images/color-patch-small.svg');
        background-position: top right;
        background-size: contain;
    }

    .color-patch--pink {
        background-position: right;
        background-size: unset;
    }

    }
</style>