---
const { heading = "", backgroundImgClass="", paddingClass= "", headingColorClass= "", headingAlignClass= "" } = Astro.props;
---
<div class={`
section__background-img
${backgroundImgClass}
`}>
<section class={`
section
${paddingClass}
`}>
<div class="section__heading-container">
    <h2 class={`
    section__heading
    ${headingColorClass}
    ${headingAlignClass}
    `} set:html={ heading } />
    </div>
    <slot />
</section>
</div>
<style>
    
    .section {
        padding: 2em 0 3em 0;
    }

    .section__heading-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .section__heading {
        max-width: 100%;
        padding: 0 1em;
    }

    .section__heading--left {
        text-align: left;
        margin-right: auto;
    }

    .section__heading--right {
        margin-left: auto;
        text-align: right;
    }

    .section__heading--center {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .section__heading--white {
        color: #fff;
    }

    .linear-gradient {
        background-image: linear-gradient(45deg, var(--first-color), var(--third-color), var(--second-color), var(--fourth-color));
        padding: 2em 0;
    }

    @media only screen and (min-width: 40em) {
    .section__heading {
        max-width: 80%;
    }

    }

    @media only screen and (min-width: 80em) {
        .section__heading {
        max-width: 60%;
    }

    .section {
        padding: 3em 0 4em 0;
    }
    }
</style>