---
const { video } = Astro.props;
---

<div class="video__container">
{ video &&
<video class="video" width={ video.width } height={ video.height } controls poster={ video.img }>
    <source src={ video.src } type="video/mp4">
    Your browser does not support the video tag.
  </video> 
}
</div>

<style>

.video__container {
  display: flex;
  justify-content: center;
  padding: 2em;
}
.video {
    border-radius: var(--border-radius);
}
</style>