---
const { wrapperClass } = Astro.props;
---

<div class={`
${wrapperClass}
`}>
<slot/>
</div>

<style>
    .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

.wrapper--smaller {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2em;
}

.wrapper--wider {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2em;
}

</style>