---
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
import Wrapper from "../components/Wrapper.astro";
import HeroShot from "../components/HeroShot.astro";
import Lists from "../components/Lists.astro";
---

<MainLayout
title="Datenschutzerklärung"
description="Du möchtest wissen, wie wir mit deinen Daten umgehen. Du findest alle Informationen zum Datenschutz in unserer Datenschutzerklärung.">
<HeroShot 
heading="Datenschutz"
displayClass="hidden"
/>
<Section
heading="Datenschutzerklärung"
>
<Wrapper
wrapperClass="wrapper--smaller"
>

<p>Die CANVENA LTD nimmt den Schutz Ihrer Daten sehr ernst. Personenbezogene Daten, die wir verlangen, werden ausschlie&szlig;lich zur Anmeldung zu den Kursen ben&ouml;tigt. Die Anmeldung erfolgt &uuml;ber eine gesicherte Verbindung, um Ihre Daten optimal vor dem Zugriff Dritter zu sch&uuml;tzen. Ihre Daten werden vertraulich behandelt und nicht an Dritte weitergegeben oder f&uuml;r Werbezwecke missbraucht.Bitte entnehmen Sie Weiteres unserer gesonderten Datenschutzerkl&auml;rung (s.u.).</p>



<p>Diese Datenschutzerkl&auml;rung kl&auml;rt Sie &uuml;ber die Art, den Umfang und Zweck der Verarbeitung von personenbezogenen Daten (nachfolgend kurz &#8222;Daten&ldquo;) innerhalb unseres Onlineangebotes und der mit ihm verbundenen Webseiten, Funktionen und Inhalte sowie externen Onlinepr&auml;senzen, wie z.B. unser Social Media Profile auf. (nachfolgend gemeinsam bezeichnet als &#8222;Onlineangebot&ldquo;). Im Hinblick auf die verwendeten Begrifflichkeiten, wie z.B. &#8222;Verarbeitung&ldquo; oder &#8222;Verantwortlicher&ldquo; verweisen wir auf die Definitionen im Art. 4 der Datenschutzgrundverordnung (DSGVO).</p>



<h3>Verantwortlicher</h3>

<p>CANVENA LTD</p>

<p>26 Anthipolochagou Georgiou M.Savva</p>
<p>Shop 1-2</p>
<p>8201 Paphos</p>
<p>Cyprus</p>



<h3>Arten der verarbeiteten Daten</h3>
<Lists
listItems={[
    "Bestandsdaten (z.B., Namen, Adressen).",
    "Kontaktdaten (z.B., E-Mail, Telefonnummern).",
    "Inhaltsdaten (z.B., Texteingaben, Fotografien, Videos).",
    "Nutzungsdaten (z.B., besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten).",
    "Meta-/Kommunikationsdaten (z.B., Ger&auml;te-Informationen, IP-Adressen)."
]}
/>

<h3>Zweck der Verarbeitung</h3>
<Lists
listItems={[
    "Zurverf&uuml;gungstellung des Onlineangebotes, seiner Funktionen und Inhalte.",
    "Beantwortung von Kontaktanfragen und Kommunikation mit Nutzern.",
    "Sicherheitsma&szlig;nahmen.",
    "Reichweitenmessung/Marketing"
]}
/>

<h3>Verwendete Begrifflichkeiten</h3>

<p>&#8222;Personenbezogene Daten&ldquo; sind alle Informationen, die sich auf eine identifizierte oder identifizierbare nat&uuml;rliche Person (im Folgenden &#8222;betroffene Person&ldquo;) beziehen; als identifizierbar wird eine nat&uuml;rliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung (z.B. Cookie) oder zu einem oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identit&auml;t dieser nat&uuml;rlichen Person sind.</p>

<p>&#8222;Verarbeitung&ldquo; ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgef&uuml;hrten Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten. Der Begriff reicht weit und umfasst praktisch jeden Umgang mit Daten.</p>

<p>Als &#8222;Verantwortlicher&ldquo; wird die nat&uuml;rliche oder juristische Person, Beh&ouml;rde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen &uuml;ber die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet, bezeichnet.</p>


<h3>Ma&szlig;gebliche Rechtsgrundlagen</h3>

<p>Nach Ma&szlig;gabe des Art. 13 DSGVO teilen wir Ihnen die Rechtsgrundlagen unserer Datenverarbeitungen mit. Sofern die Rechtsgrundlage in der Datenschutzerkl&auml;rung nicht genannt wird, gilt Folgendes: Die Rechtsgrundlage f&uuml;r die Einholung von Einwilligungen ist Art. 6 Abs. 1 lit. a und Art. 7 DSGVO, die Rechtsgrundlage f&uuml;r die Verarbeitung zur Erf&uuml;llung unserer Leistungen und Durchf&uuml;hrung vertraglicher Ma&szlig;nahmen sowie Beantwortung von Anfragen ist Art. 6 Abs. 1 lit. b DSGVO, die Rechtsgrundlage f&uuml;r die Verarbeitung zur Erf&uuml;llung unserer rechtlichen Verpflichtungen ist Art. 6 Abs. 1 lit. c DSGVO, und die Rechtsgrundlage f&uuml;r die Verarbeitung zur Wahrung unserer berechtigten Interessen ist Art. 6 Abs. 1 lit. f DSGVO. F&uuml;r den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen nat&uuml;rlichen Person eine Verarbeitung personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1 lit. d DSGVO als Rechtsgrundlage.</p>

<h3>Sicherheitsma&szlig;nahmen</h3>

<p>Wir bitten Sie sich regelm&auml;&szlig;ig &uuml;ber den Inhalt unserer Datenschutzerkl&auml;rung zu informieren. Wir passen die Datenschutzerkl&auml;rung an, sobald die &Auml;nderungen der von uns durchgef&uuml;hrten Datenverarbeitungen dies erforderlich machen. Wir informieren Sie, sobald durch die &Auml;nderungen eine Mitwirkungshandlung Ihrerseits (z.B. Einwilligung) oder eine sonstige individuelle Benachrichtigung erforderlich wird.</p>



<h3>Zusammenarbeit mit Auftragsverarbeitern und Dritten</h3>

<p>Sofern wir im Rahmen unserer Verarbeitung Daten gegen&uuml;ber anderen Personen und Unternehmen (Auftragsverarbeitern oder Dritten) offenbaren, sie an diese &uuml;bermitteln oder ihnen sonst Zugriff auf die Daten gew&auml;hren, erfolgt dies nur auf Grundlage einer gesetzlichen Erlaubnis (z.B. wenn eine &Uuml;bermittlung der Daten an Dritte, wie an Zahlungsdienstleister, gem. Art. 6 Abs. 1 lit. b DSGVO zur Vertragserf&uuml;llung erforderlich ist), Sie eingewilligt haben, eine rechtliche Verpflichtung dies vorsieht oder auf Grundlage unserer berechtigten Interessen (z.B. beim Einsatz von Beauftragten, Webhostern, etc.).</p>

<p>Sofern wir Dritte mit der Verarbeitung von Daten auf Grundlage eines sog. &#8222;Auftragsverarbeitungsvertrages&ldquo; beauftragen, geschieht dies auf Grundlage des Art. 28 DSGVO.</p>

<h3>&Uuml;bermittlungen in Drittl&auml;nder</h3>

<p>Sofern wir Daten in einem Drittland (d.h. au&szlig;erhalb der Europ&auml;ischen Union (EU) oder des Europ&auml;ischen Wirtschaftsraums (EWR)) verarbeiten oder dies im Rahmen der Inanspruchnahme von Diensten Dritter oder Offenlegung, bzw. &Uuml;bermittlung von Daten an Dritte geschieht, erfolgt dies nur, wenn es zur Erf&uuml;llung unserer (vor)vertraglichen Pflichten, auf Grundlage Ihrer Einwilligung, aufgrund einer rechtlichen Verpflichtung oder auf Grundlage unserer berechtigten Interessen geschieht. Vorbehaltlich gesetzlicher oder vertraglicher Erlaubnisse, verarbeiten oder lassen wir die Daten in einem Drittland nur beim Vorliegen der besonderen Voraussetzungen der Art. 44 ff. DSGVO verarbeiten. D.h. die Verarbeitung erfolgt z.B. auf Grundlage besonderer Garantien, wie der offiziell anerkannten Feststellung eines der EU entsprechenden Datenschutzniveaus (z.B. f&uuml;r die USA durch das &#8222;Privacy Shield&ldquo;) oder Beachtung offiziell anerkannter spezieller vertraglicher Verpflichtungen (so genannte &#8222;Standardvertragsklauseln&ldquo;).</p>



<h3>Rechte der betroffenen Personen</h3>

<p>Sie haben das Recht, eine Best&auml;tigung dar&uuml;ber zu verlangen, ob betreffende Daten verarbeitet werden und auf Auskunft &uuml;ber diese Daten sowie auf weitere Informationen und Kopie der Daten entsprechend Art. 15 DSGVO.</p>



<p>Sie haben entsprechend. Art. 16 DSGVO das Recht, die Vervollst&auml;ndigung der Sie betreffenden Daten oder die Berichtigung der Sie betreffenden unrichtigen Daten zu verlangen.</p>



<p>Sie haben nach Ma&szlig;gabe des Art. 17 DSGVO das Recht zu verlangen, dass betreffende Daten unverz&uuml;glich gel&ouml;scht werden, bzw. alternativ nach Ma&szlig;gabe des Art. 18 DSGVO eine Einschr&auml;nkung der Verarbeitung der Daten zu verlangen.</p>



<p>Sie haben das Recht zu verlangen, dass die Sie betreffenden Daten, die Sie uns bereitgestellt haben nach Ma&szlig;gabe des Art. 20 DSGVO zu erhalten und deren &Uuml;bermittlung an andere Verantwortliche zu fordern.</p>



<p>Sie haben ferner gem. Art. 77 DSGVO das Recht, eine Beschwerde bei der zust&auml;ndigen Aufsichtsbeh&ouml;rde einzureichen.</p>



<h3>Widerrufsrecht</h3>

<p>Sie haben das Recht, erteilte Einwilligungen gem. Art. 7 Abs. 3 DSGVO mit Wirkung f&uuml;r die Zukunft zu widerrufen</p>



<h3>Widerspruchsrecht</h3>

<p>Sie k&ouml;nnen der k&uuml;nftigen Verarbeitung der Sie betreffenden Daten nach Ma&szlig;gabe des Art. 21 DSGVO jederzeit widersprechen. Der Widerspruch kann insbesondere gegen die Verarbeitung f&uuml;r Zwecke der Direktwerbung erfolgen.</p>



<h3>Cookies und Widerspruchsrecht bei Direktwerbung</h3>

<p>Als &#8222;Cookies&ldquo; werden kleine Dateien bezeichnet, die auf Rechnern der Nutzer gespeichert werden. Innerhalb der Cookies k&ouml;nnen unterschiedliche Angaben gespeichert werden. Ein Cookie dient prim&auml;r dazu, die Angaben zu einem Nutzer (bzw. dem Ger&auml;t auf dem das Cookie gespeichert ist) w&auml;hrend oder auch nach seinem Besuch innerhalb eines Onlineangebotes zu speichern. Als tempor&auml;re Cookies, bzw. &#8222;Session-Cookies&ldquo; oder &#8222;transiente Cookies&ldquo;, werden Cookies bezeichnet, die gel&ouml;scht werden, nachdem ein Nutzer ein Onlineangebot verl&auml;sst und seinen Browser schlie&szlig;t. In einem solchen Cookie kann z.B. der Inhalt eines Warenkorbs in einem Onlineshop oder ein Login-Staus gespeichert werden. Als &#8222;permanent&ldquo; oder &#8222;persistent&ldquo; werden Cookies bezeichnet, die auch nach dem Schlie&szlig;en des Browsers gespeichert bleiben. So kann z.B. der Login-Status gespeichert werden, wenn die Nutzer diese nach mehreren Tagen aufsuchen. Ebenso k&ouml;nnen in einem solchen Cookie die Interessen der Nutzer gespeichert werden, die f&uuml;r Reichweitenmessung oder Marketingzwecke verwendet werden. Als &#8222;Third-Party-Cookie&ldquo; werden Cookies bezeichnet, die von anderen Anbietern als dem Verantwortlichen, der das Onlineangebot betreibt, angeboten werden (andernfalls, wenn es nur dessen Cookies sind spricht man von &#8222;First-Party Cookies&ldquo;).</p>



<p>Wir k&ouml;nnen tempor&auml;re und permanente Cookies einsetzen und kl&auml;ren hier&uuml;ber im Rahmen unserer Datenschutzerkl&auml;rung auf.</p>



<p>Falls die Nutzer nicht m&ouml;chten, dass Cookies auf ihrem Rechner gespeichert werden, werden sie gebeten die entsprechende Option in den Systemeinstellungen ihres Browsers zu deaktivieren. Gespeicherte Cookies k&ouml;nnen in den Systemeinstellungen des Browsers gel&ouml;scht werden. Der Ausschluss von Cookies kann zu Funktionseinschr&auml;nkungen dieses Onlineangebotes f&uuml;hren.</p>



<p>Ein genereller Widerspruch gegen den Einsatz der zu Zwecken des Onlinemarketing eingesetzten Cookies kann bei einer Vielzahl der Dienste, vor allem im Fall des Trackings, &uuml;ber die US-amerikanische Seite http://www.aboutads.info/choices/ oder die EU-Seite http://www.youronlinechoices.com/ erkl&auml;rt werden. Des Weiteren kann die Speicherung von Cookies mittels deren Abschaltung in den Einstellungen des Browsers erreicht werden. Bitte beachten Sie, dass dann gegebenenfalls nicht alle Funktionen dieses Onlineangebotes genutzt werden k&ouml;nnen.</p>



<h3>L&ouml;schung von Daten</h3>

<p>Die von uns verarbeiteten Daten werden nach Ma&szlig;gabe der Art. 17 und 18 DSGVO gel&ouml;scht oder in ihrer Verarbeitung eingeschr&auml;nkt. Sofern nicht im Rahmen dieser Datenschutzerkl&auml;rung ausdr&uuml;cklich angegeben, werden die bei uns gespeicherten Daten gel&ouml;scht, sobald sie f&uuml;r ihre Zweckbestimmung nicht mehr erforderlich sind und der L&ouml;schung keine gesetzlichen Aufbewahrungspflichten entgegenstehen. Sofern die Daten nicht gel&ouml;scht werden, weil sie f&uuml;r andere und gesetzlich zul&auml;ssige Zwecke erforderlich sind, wird deren Verarbeitung eingeschr&auml;nkt. D.h. die Daten werden gesperrt und nicht f&uuml;r andere Zwecke verarbeitet. Das gilt z.B. f&uuml;r Daten, die aus handels- oder steuerrechtlichen Gr&uuml;nden aufbewahrt werden m&uuml;ssen.</p>



<p>Nach gesetzlichen Vorgaben in Deutschland erfolgt die Aufbewahrung insbesondere f&uuml;r 6 Jahre gem&auml;&szlig; &sect; 257 Abs. 1 HGB (Handelsb&uuml;cher, Inventare, Er&ouml;ffnungsbilanzen, Jahresabschl&uuml;sse, Handelsbriefe, Buchungsbelege, etc.) sowie f&uuml;r 10 Jahre gem&auml;&szlig; &sect; 147 Abs. 1 AO (B&uuml;cher, Aufzeichnungen, Lageberichte, Buchungsbelege, Handels- und Gesch&auml;ftsbriefe, F&uuml;r Besteuerung relevante Unterlagen, etc.).</p>



<p>Nach gesetzlichen Vorgaben in &Ouml;sterreich erfolgt die Aufbewahrung insbesondere f&uuml;r 7 J gem&auml;&szlig; &sect; 132 Abs. 1 BAO (Buchhaltungsunterlagen, Belege/Rechnungen, Konten, Belege, Gesch&auml;ftspapiere, Aufstellung der Einnahmen und Ausgaben, etc.), f&uuml;r 22 Jahre im Zusammenhang mit Grundst&uuml;cken und f&uuml;r 10 Jahre bei Unterlagen im Zusammenhang mit elektronisch erbrachten Leistungen, Telekommunikations-, Rundfunk- und Fernsehleistungen, die an Nichtunternehmer in EU-Mitgliedstaaten erbracht werden und f&uuml;r die der Mini-One-Stop-Shop (MOSS) in Anspruch genommen wird.</p>





<h3>Hosting</h3>



<p>Die von uns in Anspruch genommenen Hosting-Leistungen dienen der Zurverf&uuml;gungstellung der folgenden Leistungen: Infrastruktur- und Plattformdienstleistungen, Rechenkapazit&auml;t, Speicherplatz und Datenbankdienste, Sicherheitsleistungen sowie technische Wartungsleistungen, die wir zum Zwecke des Betriebs dieses Onlineangebotes einsetzen.</p>



<p>Hierbei verarbeiten wir, bzw. unser Hostinganbieter Bestandsdaten, Kontaktdaten, Inhaltsdaten, Vertragsdaten, Nutzungsdaten, Meta- und Kommunikationsdaten von Kunden, Interessenten und Besuchern dieses Onlineangebotes auf Grundlage unserer berechtigten Interessen an einer effizienten und sicheren Zurverf&uuml;gungstellung dieses Onlineangebotes gem. Art. 6 Abs. 1 lit. f DSGVO i.V.m. Art. 28 DSGVO (Abschluss Auftragsverarbeitungsvertrag).</p>

<h3>Erhebung von Zugriffsdaten und Logfiles</h3>

<p>Wir, bzw. unser Hostinganbieter, erhebt auf Grundlage unserer berechtigten Interessen im Sinne des Art. 6 Abs. 1 lit. f. DSGVO Daten &uuml;ber jeden Zugriff auf den Server, auf dem sich dieser Dienst befindet (sogenannte Serverlogfiles). Zu den Zugriffsdaten geh&ouml;ren Name der abgerufenen Webseite, Datei, Datum und Uhrzeit des Abrufs, &uuml;bertragene Datenmenge, Meldung &uuml;ber erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite), IP-Adresse und der anfragende Provider.</p>



<p>Logfile-Informationen werden aus Sicherheitsgr&uuml;nden (z.B. zur Aufkl&auml;rung von Missbrauchs- oder Betrugshandlungen) f&uuml;r die Dauer von maximal 7 Tagen gespeichert und danach gel&ouml;scht. Daten, deren weitere Aufbewahrung zu Beweiszwecken erforderlich ist, sind bis zur endg&uuml;ltigen Kl&auml;rung des jeweiligen Vorfalls von der L&ouml;schung ausgenommen.</p>





<h3>Erbringung vertraglicher Leistungen</h3>



<p>Wir verarbeiten Bestandsdaten (z.B., Namen und Adressen sowie Kontaktdaten von Nutzern), Vertragsdaten (z.B., in Anspruch genommene Leistungen, Namen von Kontaktpersonen, Zahlungsinformationen) zwecks Erf&uuml;llung unserer vertraglichen Verpflichtungen und Serviceleistungen gem. Art. 6 Abs. 1 lit b. DSGVO. Die in Onlineformularen als verpflichtend gekennzeichneten Eingaben, sind f&uuml;r den Vertragsschluss erforderlich.</p>



<p>Im Rahmen der Inanspruchnahme unserer Onlinedienste, speichern wir die IP-Adresse und den Zeitpunkt der jeweiligen Nutzerhandlung. Die Speicherung erfolgt auf Grundlage unserer berechtigten Interessen, als auch der Nutzer an Schutz vor Missbrauch und sonstiger unbefugter Nutzung. Eine Weitergabe dieser Daten an Dritte erfolgt grunds&auml;tzlich nicht, au&szlig;er sie ist zur Verfolgung unserer Anspr&uuml;che erforderlich oder es besteht hierzu eine gesetzliche Verpflichtung gem. Art. 6 Abs. 1 lit. c DSGVO.</p>



<p>Wir verarbeiten Nutzungsdaten (z.B., die besuchten Webseiten unseres Onlineangebotes, Interesse an unseren Produkten) und Inhaltsdaten (z.B., Eingaben im Kontaktformular oder Nutzerprofil) f&uuml;r Werbezwecke in einem Nutzerprofil, um den Nutzer z.B. Produkthinweise ausgehend von ihren bisher in Anspruch genommenen Leistungen einzublenden.</p>



<p>Die L&ouml;schung der Daten erfolgt nach Ablauf gesetzlicher Gew&auml;hrleistungs- und vergleichbarer Pflichten, die Erforderlichkeit der Aufbewahrung der Daten wird alle drei Jahre &uuml;berpr&uuml;ft; im Fall der gesetzlichen Archivierungspflichten erfolgt die L&ouml;schung nach deren Ablauf. Angaben im etwaigen Kundenkonto verbleiben bis zu dessen L&ouml;schung.</p>





<h3>Administration, Finanzbuchhaltung, B&uuml;roorganisation, Kontaktverwaltung</h3>



<p>Wir verarbeiten Daten im Rahmen von Verwaltungsaufgaben sowie Organisation unseres Betriebs, Finanzbuchhaltung und Befolgung der gesetzlichen Pflichten, wie z.B. der Archivierung. Herbei verarbeiten wir dieselben Daten, die wir im Rahmen der Erbringung unserer vertraglichen Leistungen verarbeiten. Die Verarbeitungsgrundlagen sind Art. 6 Abs. 1 lit. c. DSGVO, Art. 6 Abs. 1 lit. f. DSGVO. Von der Verarbeitung sind Kunden, Interessenten, Gesch&auml;ftspartner und Websitebesucher betroffen. Der Zweck und unser Interesse an der Verarbeitung liegt in der Administration, Finanzbuchhaltung, B&uuml;roorganisation, Archivierung von Daten, also Aufgaben die der Aufrechterhaltung unserer Gesch&auml;ftst&auml;tigkeiten, Wahrnehmung unserer Aufgaben und Erbringung unserer Leistungen dienen. Die L&ouml;schung der Daten im Hinblick auf vertragliche Leistungen und die vertragliche Kommunikation entspricht den, bei diesen Verarbeitungst&auml;tigkeiten genannten Angaben.</p>



<p>Wir offenbaren oder &uuml;bermitteln hierbei Daten an die Finanzverwaltung, Berater, wie z.B., Steuerberater oder Wirtschaftspr&uuml;fer sowie weitere Geb&uuml;hrenstellen und Zahlungsdienstleister.</p>



<p>Ferner speichern wir auf Grundlage unserer betriebswirtschaftlichen Interessen Angaben zu Lieferanten, Veranstaltern und sonstigen Gesch&auml;ftspartnern, z.B. zwecks sp&auml;terer Kontaktaufnahme. Diese mehrheitlich unternehmensbezogenen Daten, speichern wir grunds&auml;tzlich dauerhaft.</p>





<h3>Betriebswirtschaftliche Analysen und Marktforschung</h3>



<p>Um unser Gesch&auml;ft wirtschaftlich betreiben, Markttendenzen, Kunden- und Nutzerw&uuml;nsche erkennen zu k&ouml;nnen, analysieren wir die uns vorliegenden Daten zu Gesch&auml;ftsvorg&auml;ngen, Vertr&auml;gen, Anfragen, etc. Wir verarbeiten dabei Bestandsdaten, Kommunikationsdaten, Vertragsdaten, Zahlungsdaten, Nutzungsdaten, Metadaten auf Grundlage des Art. 6 Abs. 1 lit. f. DSGVO, wobei zu den betroffenen Personen Kunden, Interessenten, Gesch&auml;ftspartner, Besucher und Nutzer des Onlineangebotes geh&ouml;ren.</p>



<p>Die Analysen erfolgen zum Zweck betriebswirtschaftlicher Auswertungen, des Marketings und der Marktforschung. Dabei k&ouml;nnen wir die Profile der registrierten Nutzer mit Angaben z.B. zu deren Kaufvorg&auml;ngen ber&uuml;cksichtigen. Die Analysen dienen uns zur Steigerung der Nutzerfreundlichkeit, der Optimierung unseres Angebotes und der Betriebswirtschaftlichkeit. Die Analysen dienen alleine uns und werden nicht extern offenbart, sofern es sich nicht um anonyme Analysen mit zusammengefassten Werten handelt.</p>



<p>Sofern diese Analysen oder Profile personenbezogen sind, werden sie mit K&uuml;ndigung der Nutzer gel&ouml;scht oder anonymisiert, sonst nach zwei Jahren ab Vertragsschluss. Im &Uuml;brigen werden die gesamtbetriebswirtschaftlichen Analysen und allgemeine Tendenzbestimmungen nach M&ouml;glichkeit anonym erstellt.</p>





<h3>Datenschutzhinweise im Bewerbungsverfahren</h3>



<p>Wir verarbeiten die Bewerberdaten nur zum Zweck und im Rahmen des Bewerbungsverfahrens im Einklang mit den gesetzlichen Vorgaben. Die Verarbeitung der Bewerberdaten erfolgt zur Erf&uuml;llung unserer (vor)vertraglichen Verpflichtungen im Rahmen des Bewerbungsverfahrens im Sinne des Art. 6 Abs. 1 lit. b. DSGVO Art. 6 Abs. 1 lit. f. DSGVO sofern die Datenverarbeitung z.B. im Rahmen von rechtlichen Verfahren f&uuml;r uns erforderlich wird (in Deutschland gilt zus&auml;tzlich &sect; 26 BDSG).</p>



<p>Das Bewerbungsverfahren setzt voraus, dass Bewerber uns die Bewerberdaten mitteilen. Die notwendigen Bewerberdaten sind, sofern wir ein Onlineformular anbieten gekennzeichnet, ergeben sich sonst aus den Stellenbeschreibungen und grunds&auml;tzlich geh&ouml;ren dazu die Angaben zur Person, Post- und Kontaktadressen und die zur Bewerbung geh&ouml;renden Unterlagen, wie Anschreiben, Lebenslauf und die Zeugnisse. Daneben k&ouml;nnen uns Bewerber freiwillig zus&auml;tzliche Informationen mitteilen.</p>



<p>Mit der &Uuml;bermittlung der Bewerbung an uns, erkl&auml;ren sich die Bewerber mit der Verarbeitung ihrer Daten zu Zwecken des Bewerbungsverfahrens entsprechend der in dieser Datenschutzerkl&auml;rung dargelegten Art und Umfang einverstanden.</p>



<p>Soweit im Rahmen des Bewerbungsverfahrens freiwillig besondere Kategorien von personenbezogenen Daten im Sinne des Art. 9 Abs. 1 DSGVO mitgeteilt werden, erfolgt deren Verarbeitung zus&auml;tzlich nach Art. 9 Abs. 2 lit. b DSGVO (z.B. Gesundheitsdaten, wie z.B. Schwerbehinderteneigenschaft oder ethnische Herkunft). Soweit im Rahmen des Bewerbungsverfahrens besondere Kategorien von personenbezogenen Daten im Sinne des Art. 9 Abs. 1 DSGVO bei Bewerbern angefragt werden, erfolgt deren Verarbeitung zus&auml;tzlich nach Art. 9 Abs. 2 lit. a DSGVO (z.B. Gesundheitsdaten, wenn diese f&uuml;r die Berufsaus&uuml;bung erforderlich sind).</p>



<p>Sofern zur Verf&uuml;gung gestellt, k&ouml;nnen uns Bewerber ihre Bewerbungen mittels eines Onlineformulars auf unserer Website &uuml;bermitteln. Die Daten werden entsprechend dem Stand der Technik verschl&uuml;sselt an uns &uuml;bertragen.</p>

<p>Ferner k&ouml;nnen Bewerber uns ihre Bewerbungen via E-Mail &uuml;bermitteln. Hierbei bitten wir jedoch zu beachten, dass E-Mails grunds&auml;tzlich nicht verschl&uuml;sselt versendet werden und die Bewerber selbst f&uuml;r die Verschl&uuml;sselung sorgen m&uuml;ssen. Wir k&ouml;nnen daher f&uuml;r den &Uuml;bertragungsweg der Bewerbung zwischen dem Absender und dem Empfang auf unserem Server keine Verantwortung &uuml;bernehmen und empfehlen daher eher ein Online-Formular oder den postalischen Versand zu nutzen. Denn statt der Bewerbung &uuml;ber das Online-Formular und E-Mail, steht den Bewerbern weiterhin die M&ouml;glichkeit zur Verf&uuml;gung, uns die Bewerbung auf dem Postweg zuzusenden.</p>



<p>Die von den Bewerbern zur Verf&uuml;gung gestellten Daten, k&ouml;nnen im Fall einer erfolgreichen Bewerbung f&uuml;r die Zwecke des Besch&auml;ftigungsverh&auml;ltnisses von uns weiterverarbeitet werden. Andernfalls, sofern die Bewerbung auf ein Stellenangebot nicht erfolgreich ist, werden die Daten der Bewerber gel&ouml;scht. Die Daten der Bewerber werden ebenfalls gel&ouml;scht, wenn eine Bewerbung zur&uuml;ckgezogen wird, wozu die Bewerber jederzeit berechtigt sind.</p>



<p>Die L&ouml;schung erfolgt, vorbehaltlich eines berechtigten Widerrufs der Bewerber, nach dem Ablauf eines Zeitraums von sechs Monaten, damit wir etwaige Anschlussfragen zu der Bewerbung beantworten und unseren Nachweispflichten aus dem Gleichbehandlungsgesetz gen&uuml;gen k&ouml;nnen. Rechnungen &uuml;ber etwaige Reisekostenerstattung werden entsprechend den steuerrechtlichen Vorgaben archiviert.</p>





<h3>Kontaktaufnahme</h3>



<p>Bei der Kontaktaufnahme mit uns (z.B. per Kontaktformular, E-Mail, Telefon oder via sozialer Medien) werden die Angaben des Nutzers zur Bearbeitung der Kontaktanfrage und deren Abwicklung gem. Art. 6 Abs. 1 lit. b) DSGVO verarbeitet. Die Angaben der Nutzer k&ouml;nnen in einem Customer-Relationship-Management System (&quot;CRM System&quot;) oder vergleichbarer Anfragenorganisation gespeichert werden.</p>



<p>Wir l&ouml;schen die Anfragen, sofern diese nicht mehr erforderlich sind. Wir &uuml;berpr&uuml;fen die Erforderlichkeit alle zwei Jahre; Ferner gelten die gesetzlichen Archivierungspflichten.</p>





<h3>Newsletter</h3>



<p>Mit den nachfolgenden Hinweisen informieren wir Sie &uuml;ber die Inhalte unseres Newsletters sowie das Anmelde-, Versand- und das statistische Auswertungsverfahren sowie Ihre Widerspruchsrechte auf. Indem Sie unseren Newsletter abonnieren, erkl&auml;ren Sie sich mit dem Empfang und den beschriebenen Verfahren einverstanden.</p>

<p>Inhalt des Newsletters: Wir versenden Newsletter, E-Mails und weitere elektronische Benachrichtigungen mit werblichen Informationen (nachfolgend &#8222;Newsletter&ldquo;) nur mit der Einwilligung der Empf&auml;nger oder einer gesetzlichen Erlaubnis. Sofern im Rahmen einer Anmeldung zum Newsletter dessen Inhalte konkret umschrieben werden, sind sie f&uuml;r die Einwilligung der Nutzer ma&szlig;geblich. Im &Uuml;brigen enthalten unsere Newsletter Informationen zu unseren Leistungen und uns.</p>

<p>Double-Opt-In und Protokollierung: Die Anmeldung zu unserem Newsletter erfolgt in einem sog. Double-Opt-In-Verfahren. D.h. Sie erhalten nach der Anmeldung eine E-Mail, in der Sie um die Best&auml;tigung Ihrer Anmeldung gebeten werden. Diese Best&auml;tigung ist notwendig, damit sich niemand mit fremden E-Mailadressen anmelden kann. Die Anmeldungen zum Newsletter werden protokolliert, um den Anmeldeprozess entsprechend den rechtlichen Anforderungen nachweisen zu k&ouml;nnen. Hierzu geh&ouml;rt die Speicherung des Anmelde- und des Best&auml;tigungszeitpunkts, als auch der IP-Adresse. Ebenso werden die &Auml;nderungen Ihrer bei dem Versanddienstleister gespeicherten Daten protokolliert.</p>



<p>Anmeldedaten: Um sich f&uuml;r den Newsletter anzumelden, reicht es aus, wenn Sie Ihre E-Mailadresse angeben. Optional bitten wir Sie einen Namen, zwecks pers&ouml;nlicher Ansprache im Newsletters anzugeben.</p>



<p>Deutschland: Der Versand des Newsletters und die mit ihm verbundene Erfolgsmessung erfolgt auf Grundlage einer Einwilligung der Empf&auml;nger gem. Art. 6 Abs. 1 lit. a, Art. 7 DSGVO i.V.m &sect; 7 Abs. 2 Nr. 3 UWG bzw. auf Grundlage der gesetzlichen Erlaubnis gem. &sect; 7 Abs. 3 UWG.</p>



<p>Die Protokollierung des Anmeldeverfahrens erfolgt auf Grundlage unserer berechtigten Interessen gem. Art. 6 Abs. 1 lit. f DSGVO. Unser Interesse richtet sich auf den Einsatz eines nutzerfreundlichen sowie sicheren Newslettersystems, das sowohl unseren gesch&auml;ftlichen Interessen dient, als auch den Erwartungen der Nutzer entspricht und uns ferner den Nachweis von Einwilligungen erlaubt.</p>



<p>K&uuml;ndigung/Widerruf - Sie k&ouml;nnen den Empfang unseres Newsletters jederzeit k&uuml;ndigen, d.h. Ihre Einwilligungen widerrufen. Einen Link zur K&uuml;ndigung des Newsletters finden Sie am Ende eines jeden Newsletters. Wir k&ouml;nnen die ausgetragenen E-Mailadressen bis zu drei Jahren auf Grundlage unserer berechtigten Interessen speichern bevor wir sie l&ouml;schen, um eine ehemals gegebene Einwilligung nachweisen zu k&ouml;nnen. Die Verarbeitung dieser Daten wird auf den Zweck einer m&ouml;glichen Abwehr von Anspr&uuml;chen beschr&auml;nkt. Ein individueller L&ouml;schungsantrag ist jederzeit m&ouml;glich, sofern zugleich das ehemalige Bestehen einer Einwilligung best&auml;tigt wird.</p>





<h4>Newsletter - Versanddienstleister</h4>



<p>Der Versand der Newsletter erfolgt mittels des Versanddienstleisters CleverReach GmbH &amp; Co. KG, M&uuml;hlenstr. 43, 26180 Rastede, Deutschland. Die Datenschutzbestimmungen des Versanddienstleisters k&ouml;nnen Sie hier einsehen: https://www.cleverreach.com/de/datenschutz/. Der Versanddienstleister wird auf Grundlage unserer berechtigten Interessen gem. Art. 6 Abs. 1 lit. f DSGVO und eines Auftragsverarbeitungsvertrages gem. Art. 28 Abs. 3 S. 1 DSGVO eingesetzt.</p>



<p>Der Versanddienstleister kann die Daten der Empf&auml;nger in pseudonymer Form, d.h. ohne Zuordnung zu einem Nutzer, zur Optimierung oder Verbesserung der eigenen Services nutzen, z.B. zur technischen Optimierung des Versandes und der Darstellung der Newsletter oder f&uuml;r statistische Zwecke verwenden. Der Versanddienstleister nutzt die Daten unserer Newsletterempf&auml;nger jedoch nicht, um diese selbst anzuschreiben oder um die Daten an Dritte weiterzugeben.</p>





<h4>Newsletter - Erfolgsmessung</h4>



<p>Die Newsletter enthalten einen sog. &#8222;web-beacon&ldquo;, d.h. eine pixelgro&szlig;e Datei, die beim &Ouml;ffnen des Newsletters von unserem Server, bzw. sofern wir einen Versanddienstleister einsetzen, von dessen Server abgerufen wird. Im Rahmen dieses Abrufs werden zun&auml;chst technische Informationen, wie Informationen zum Browser und Ihrem System, als auch Ihre IP-Adresse und Zeitpunkt des Abrufs erhoben.</p>



<p>Diese Informationen werden zur technischen Verbesserung der Services anhand der technischen Daten oder der Zielgruppen und ihres Leseverhaltens anhand derer Abruforte (die mit Hilfe der IP-Adresse bestimmbar sind) oder der Zugriffszeiten genutzt. Zu den statistischen Erhebungen geh&ouml;rt ebenfalls die Feststellung, ob die Newsletter ge&ouml;ffnet werden, wann sie ge&ouml;ffnet werden und welche Links geklickt werden. Diese Informationen k&ouml;nnen aus technischen Gr&uuml;nden zwar den einzelnen Newsletterempf&auml;ngern zugeordnet werden. Es ist jedoch weder unser Bestreben, noch, sofern eingesetzt, das des Versanddienstleisters, einzelne Nutzer zu beobachten. Die Auswertungen dienen uns viel mehr dazu, die Lesegewohnheiten unserer Nutzer zu erkennen und unsere Inhalte auf sie anzupassen oder unterschiedliche Inhalte entsprechend den Interessen unserer Nutzer zu versenden.</p>





<h3>Google Analytics</h3>



<p>Wir setzen auf Grundlage unserer berechtigten Interessen (d.h. Interesse an der Analyse, Optimierung und wirtschaftlichem Betrieb unseres Onlineangebotes im Sinne des Art. 6 Abs. 1 lit. f. DSGVO) Google Analytics, einen Webanalysedienst der Google LLC (&#8222;Google&ldquo;) ein. Google verwendet Cookies. Die durch das Cookie erzeugten Informationen &uuml;ber Benutzung des Onlineangebotes durch die Nutzer werden in der Regel an einen Server von Google in den USA &uuml;bertragen und dort gespeichert.</p>



<p>Google ist unter dem Privacy-Shield-Abkommen zertifiziert und bietet hierdurch eine Garantie, das europ&auml;ische Datenschutzrecht einzuhalten (https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active).</p>



<p>Google wird diese Informationen in unserem Auftrag benutzen, um die Nutzung unseres Onlineangebotes durch die Nutzer auszuwerten, um Reports &uuml;ber die Aktivit&auml;ten innerhalb dieses Onlineangebotes zusammenzustellen und um weitere, mit der Nutzung dieses Onlineangebotes und der Internetnutzung verbundene Dienstleistungen, uns gegen&uuml;ber zu erbringen. Dabei k&ouml;nnen aus den verarbeiteten Daten pseudonyme Nutzungsprofile der Nutzer erstellt werden.</p>



<p>Wir setzen Google Analytics nur mit aktivierter IP-Anonymisierung ein. Das bedeutet, die IP-Adresse der Nutzer wird von Google innerhalb von Mitgliedstaaten der Europ&auml;ischen Union oder in anderen Vertragsstaaten des Abkommens &uuml;ber den Europ&auml;ischen Wirtschaftsraum gek&uuml;rzt. Nur in Ausnahmef&auml;llen wird die volle IP-Adresse an einen Server von Google in den USA &uuml;bertragen und dort gek&uuml;rzt.</p>



<p>Die von dem Browser des Nutzers &uuml;bermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengef&uuml;hrt. Die Nutzer k&ouml;nnen die Speicherung der Cookies durch eine entsprechende Einstellung ihrer Browser-Software verhindern; die Nutzer k&ouml;nnen dar&uuml;ber hinaus die Erfassung der durch das Cookie erzeugten und auf ihre Nutzung des Onlineangebotes bezogenen Daten an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter folgendem Link verf&uuml;gbare Browser-Plugin herunterladen und installieren: http://tools.google.com/dlpage/gaoptout?hl=de.</p>



<p>Weitere Informationen zur Datennutzung durch Google, Einstellungs- und Widerspruchsm&ouml;glichkeiten, erfahren Sie in der Datenschutzerkl&auml;rung von Google (https://policies.google.com/technologies/ads) sowie in den Einstellungen f&uuml;r die Darstellung von Werbeeinblendungen durch Google (https://adssettings.google.com/authenticated).</p>



<p>Die personenbezogenen Daten der Nutzer werden nach 14 Monaten gel&ouml;scht oder anonymisert.</p>





<h3>Facebook-Pixel, Custom Audiences und Facebook-Conversion</h3>



<p>Innerhalb unseres Onlineangebotes wird aufgrund unserer berechtigten Interessen an Analyse, Optimierung und wirtschaftlichem Betrieb unseres Onlineangebotes und zu diesen Zwecken das sog. &quot;Facebook-Pixel&quot; des sozialen Netzwerkes Facebook, welches von der Facebook Inc., 1 Hacker Way, Menlo Park, CA 94025, USA, bzw. falls Sie in der EU ans&auml;ssig sind, Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland betrieben wird (&quot;Facebook&quot;), eingesetzt.</p>



<p>Facebook ist unter dem Privacy-Shield-Abkommen zertifiziert und bietet hierdurch eine Garantie, das europ&auml;ische Datenschutzrecht einzuhalten (https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&amp;status=Active).</p>



<p>Mit Hilfe des Facebook-Pixels ist es Facebook zum einen m&ouml;glich, die Besucher unseres Onlineangebotes als Zielgruppe f&uuml;r die Darstellung von Anzeigen (sog. &quot;Facebook-Ads&quot;) zu bestimmen. Dementsprechend setzen wir das Facebook-Pixel ein, um die durch uns geschalteten Facebook-Ads nur solchen Facebook-Nutzern anzuzeigen, die auch ein Interesse an unserem Onlineangebot gezeigt haben oder die bestimmte Merkmale (z.B. Interessen an bestimmten Themen oder Produkten, die anhand der besuchten Webseiten bestimmt werden) aufweisen, die wir an Facebook &uuml;bermitteln (sog. &#8222;Custom Audiences&ldquo;). Mit Hilfe des Facebook-Pixels m&ouml;chten wir auch sicherstellen, dass unsere Facebook-Ads dem potentiellen Interesse der Nutzer entsprechen und nicht bel&auml;stigend wirken. Mit Hilfe des Facebook-Pixels k&ouml;nnen wir ferner die Wirksamkeit der Facebook-Werbeanzeigen f&uuml;r statistische und Marktforschungszwecke nachvollziehen, in dem wir sehen ob Nutzer nachdem Klick auf eine Facebook-Werbeanzeige auf unsere Website weitergeleitet wurden (sog. &#8222;Conversion&ldquo;).</p>



<p>Die Verarbeitung der Daten durch Facebook erfolgt im Rahmen von Facebooks Datenverwendungsrichtlinie. Dementsprechend generelle Hinweise zur Darstellung von Facebook-Ads, in der Datenverwendungsrichtlinie von Facebook: https://www.facebook.com/policy.php. Spezielle Informationen und Details zum Facebook-Pixel und seiner Funktionsweise erhalten Sie im Hilfebereich von Facebook: https://www.facebook.com/business/help/651294705016616.</p>



<p>Sie k&ouml;nnen der Erfassung durch den Facebook-Pixel und Verwendung Ihrer Daten zur Darstellung von Facebook-Ads widersprechen. Um einzustellen, welche Arten von Werbeanzeigen Ihnen innerhalb von Facebook angezeigt werden, k&ouml;nnen Sie die von Facebook eingerichtete Seite aufrufen und dort die Hinweise zu den Einstellungen nutzungsbasierter Werbung befolgen: https://www.facebook.com/settings?tab=ads. Die Einstellungen erfolgen plattformunabh&auml;ngig, d.h. sie werden f&uuml;r alle Ger&auml;te, wie Desktopcomputer oder mobile Ger&auml;te &uuml;bernommen.</p>



<p>Sie k&ouml;nnen dem Einsatz von Cookies, die der Reichweitenmessung und Werbezwecken dienen, ferner &uuml;ber die Deaktivierungsseite der Netzwerkwerbeinitiative (http://optout.networkadvertising.org/) und zus&auml;tzlich die US-amerikanische Webseite (http://www.aboutads.info/choices) oder die europ&auml;ische Webseite (http://www.youronlinechoices.com/uk/your-ad-choices/) widersprechen.</p>





<h3>Onlinepr&auml;senzen in sozialen Medien</h3>



<p>Wir unterhalten Onlinepr&auml;senzen innerhalb sozialer Netzwerke und Plattformen, um mit den dort aktiven Kunden, Interessenten und Nutzern kommunizieren und sie dort &uuml;ber unsere Leistungen informieren zu k&ouml;nnen. Beim Aufruf der jeweiligen Netzwerke und Plattformen gelten die Gesch&auml;ftsbedingungen und die Datenverarbeitungsrichtlinien deren jeweiligen Betreiber.</p>



<p>Soweit nicht anders im Rahmen unserer Datenschutzerkl&auml;rung angegeben, verarbeiten wir die Daten der Nutzer sofern diese mit uns innerhalb der sozialen Netzwerke und Plattformen kommunizieren, z.B. Beitr&auml;ge auf unseren Onlinepr&auml;senzen verfassen oder uns Nachrichten zusenden.</p>



<p>Einbindung von Diensten und Inhalten Dritter</p>



<p>Wir setzen innerhalb unseres Onlineangebotes auf Grundlage unserer berechtigten Interessen (d.h. Interesse an der Analyse, Optimierung und wirtschaftlichem Betrieb unseres Onlineangebotes im Sinne des Art. 6 Abs. 1 lit. f. DSGVO) Inhalts- oder Serviceangebote von Drittanbietern ein, um deren Inhalte und Services, wie z.B. Videos oder Schriftarten einzubinden (nachfolgend einheitlich bezeichnet als &ldquo;Inhalte&rdquo;).</p>



<p>Dies setzt immer voraus, dass die Drittanbieter dieser Inhalte, die IP-Adresse der Nutzer wahrnehmen, da sie ohne die IP-Adresse die Inhalte nicht an deren Browser senden k&ouml;nnten. Die IP-Adresse ist damit f&uuml;r die Darstellung dieser Inhalte erforderlich. Wir bem&uuml;hen uns nur solche Inhalte zu verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Drittanbieter k&ouml;nnen ferner so genannte Pixel-Tags (unsichtbare Grafiken, auch als &quot;Web Beacons&quot; bezeichnet) f&uuml;r statistische oder Marketingzwecke verwenden. Durch die &quot;Pixel-Tags&quot; k&ouml;nnen Informationen, wie der Besucherverkehr auf den Seiten dieser Website ausgewertet werden. Die pseudonymen Informationen k&ouml;nnen ferner in Cookies auf dem Ger&auml;t der Nutzer gespeichert werden und unter anderem technische Informationen zum Browser und Betriebssystem, verweisende Webseiten, Besuchszeit sowie weitere Angaben zur Nutzung unseres Onlineangebotes enthalten, als auch mit solchen Informationen aus anderen Quellen verbunden werden.</p>



<h3>Youtube</h3>



<p>Wir binden die Videos der Plattform &ldquo;YouTube&rdquo; des Anbieters Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA, ein. Datenschutzerkl&auml;rung: https://www.google.com/policies/privacy/, Opt-Out: https://adssettings.google.com/authenticated.</p>


<h3>Google Maps</h3>



<p>Wir binden die Landkarten des Dienstes &ldquo;Google Maps&rdquo; des Anbieters Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA, ein. Zu den verarbeiteten Daten k&ouml;nnen insbesondere IP-Adressen und Standortdaten der Nutzer geh&ouml;ren, die jedoch nicht ohne deren Einwilligung (im Regelfall im Rahmen der Einstellungen ihrer Mobilger&auml;te vollzogen), erhoben werden. Die Daten k&ouml;nnen in den USA verarbeitet werden. Datenschutzerkl&auml;rung: https://www.google.com/policies/privacy/, Opt-Out: https://adssettings.google.com/authenticated.</p>


<h3>Verwendung von Facebook Social Plugins</h3>



<p>Wir nutzen auf Grundlage unserer berechtigten Interessen (d.h. Interesse an der Analyse, Optimierung und wirtschaftlichem Betrieb unseres Onlineangebotes im Sinne des Art. 6 Abs. 1 lit. f. DSGVO) Social Plugins (&quot;Plugins&quot;) des sozialen Netzwerkes facebook.com, welches von der Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland betrieben wird (&quot;Facebook&quot;). Die Plugins k&ouml;nnen Interaktionselemente oder Inhalte (z.B. Videos, Grafiken oder Textbeitr&auml;ge) darstellen und sind an einem der Facebook Logos erkennbar (wei&szlig;es &#8222;f&ldquo; auf blauer Kachel, den Begriffen &quot;Like&quot;, &quot;Gef&auml;llt mir&quot; oder einem &#8222;Daumen hoch&ldquo;-Zeichen) oder sind mit dem Zusatz &quot;Facebook Social Plugin&quot; gekennzeichnet. Die Liste und das Aussehen der Facebook Social Plugins kann hier eingesehen werden: https://developers.facebook.com/docs/plugins/.</p>



<p>Facebook ist unter dem Privacy-Shield-Abkommen zertifiziert und bietet hierdurch eine Garantie, das europ&auml;ische Datenschutzrecht einzuhalten (https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&amp;status=Active).</p>



<p>Wenn ein Nutzer eine Funktion dieses Onlineangebotes aufruft, die ein solches Plugin enth&auml;lt, baut sein Ger&auml;t eine direkte Verbindung mit den Servern von Facebook auf. Der Inhalt des Plugins wird von Facebook direkt an das Ger&auml;t des Nutzers &uuml;bermittelt und von diesem in das Onlineangebot eingebunden. Dabei k&ouml;nnen aus den verarbeiteten Daten Nutzungsprofile der Nutzer erstellt werden. Wir haben daher keinen Einfluss auf den Umfang der Daten, die Facebook mit Hilfe dieses Plugins erhebt und informiert die Nutzer daher entsprechend unserem Kenntnisstand.</p>



<p>Durch die Einbindung der Plugins erh&auml;lt Facebook die Information, dass ein Nutzer die entsprechende Seite des Onlineangebotes aufgerufen hat. Ist der Nutzer bei Facebook eingeloggt, kann Facebook den Besuch seinem Facebook-Konto zuordnen. Wenn Nutzer mit den Plugins interagieren, zum Beispiel den Like Button bet&auml;tigen oder einen Kommentar abgeben, wird die entsprechende Information von Ihrem Ger&auml;t direkt an Facebook &uuml;bermittelt und dort gespeichert. Falls ein Nutzer kein Mitglied von Facebook ist, besteht trotzdem die M&ouml;glichkeit, dass Facebook seine IP-Adresse in Erfahrung bringt und speichert. Laut Facebook wird in Deutschland nur eine anonymisierte IP-Adresse gespeichert.</p>



<p>Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch Facebook sowie die diesbez&uuml;glichen Rechte und Einstellungsm&ouml;glichkeiten zum Schutz der Privatsph&auml;re der Nutzer, k&ouml;nnen diese den Datenschutzhinweisen von Facebook entnehmen: https://www.facebook.com/about/privacy/.</p>



<p>Wenn ein Nutzer Facebookmitglied ist und nicht m&ouml;chte, dass Facebook &uuml;ber dieses Onlineangebot Daten &uuml;ber ihn sammelt und mit seinen bei Facebook gespeicherten Mitgliedsdaten verkn&uuml;pft, muss er sich vor der Nutzung unseres Onlineangebotes bei Facebook ausloggen und seine Cookies l&ouml;schen. Weitere Einstellungen und Widerspr&uuml;che zur Nutzung von Daten f&uuml;r Werbezwecke, sind innerhalb der Facebook-Profileinstellungen m&ouml;glich: https://www.facebook.com/settings?tab=ads oder &uuml;ber die US-amerikanische Seite http://www.aboutads.info/choices/ oder die EU-Seite http://www.youronlinechoices.com/. Die Einstellungen erfolgen plattformunabh&auml;ngig, d.h. sie werden f&uuml;r alle Ger&auml;te, wie Desktopcomputer oder mobile Ger&auml;te &uuml;bernommen.</p>


<h3>Twitter</h3>

<p>Innerhalb unseres Onlineangebotes k&ouml;nnen Funktionen und Inhalte des Dienstes Twitter, angeboten durch die Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA, eingebunden werden. Hierzu k&ouml;nnen z.B. Inhalte wie Bilder, Videos oder Texte und Schaltfl&auml;chen geh&ouml;ren, mit denen Nutzer Ihr Gefallen betreffend die Inhalte kundtun, den Verfassern der Inhalte oder unsere Beitr&auml;ge abonnieren k&ouml;nnen. Sofern die Nutzer Mitglieder der Plattform Twitter sind, kann Twitter den Aufruf der o.g. Inhalte und Funktionen den dortigen Profilen der Nutzer zuordnen. Twitter ist unter dem Privacy-Shield-Abkommen zertifiziert und bietet hierdurch eine Garantie, das europ&auml;ische Datenschutzrecht einzuhalten (https://www.privacyshield.gov/participant?id=a2zt0000000TORzAAO&amp;status=Active). Datenschutzerkl&auml;rung: https://twitter.com/de/privacy, Opt-Out: https://twitter.com/personalization.</p>


<h3>Instagram</h3>

<p>Innerhalb unseres Onlineangebotes k&ouml;nnen Funktionen und Inhalte des Dienstes Instagram, angeboten durch die Instagram Inc., 1601 Willow Road, Menlo Park, CA, 94025, USA, eingebunden werden. Hierzu k&ouml;nnen z.B. Inhalte wie Bilder, Videos oder Texte und Schaltfl&auml;chen geh&ouml;ren, mit denen Nutzer ihr Gefallen betreffend die Inhalte kundtun, den Verfassern der Inhalte oder unsere Beitr&auml;ge abonnieren k&ouml;nnen. Sofern die Nutzer Mitglieder der Plattform Instagram sind, kann Instagram den Aufruf der o.g. Inhalte und Funktionen den dortigen Profilen der Nutzer zuordnen. Datenschutzerkl&auml;rung von Instagram: http://instagram.com/about/legal/privacy/.</p>


<h3>Hinweise zur Datenverarbeitung im Zusammenhang mit Google Analytics</h3>



<p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Ireland Limited. Wenn der Verantwortliche f&uuml;r die Datenverarbeitung auf dieser Website au&szlig;erhalb des Europ&auml;ischen Wirtschaftsraumes oder der Schweiz sitzt, dann erfolgt die Google Analytics Datenverarbeitung durch Google LLC. Google LLC und Google Ireland Limited werden nachfolgend &quot;Google&quot; genannt.</p>

<p>Google Analytics verwendet sog. &quot;Cookies&quot;, Textdateien, die auf dem Computer des Seitenbesuchers gespeichert werden und die eine Analyse der Benutzung der Website durch den Seitenbesucher erm&ouml;glichen. Die durch das Cookie erzeugten Informationen &uuml;ber die Benutzung dieser Website durch den Seitenbesucher (einschlie&szlig;lich der gek&uuml;rzten IP-Adresse) werden in der Regel an einen Server von Google &uuml;bertragen und dort gespeichert.</p>

<p>Google Analytics wird ausschlie&szlig;lich mit der Erweiterung &quot;_anonymizeIp()&quot; auf dieser Website verwendet. Diese Erweiterung stellt eine Anonymisierung der IP-Adresse durch K&uuml;rzung sicher und schlie&szlig;t eine direkte Personenbeziehbarkeit aus. Durch die Erweiterung wird die IP-Adresse von Google innerhalb von Mitgliedstaaten der Europ&auml;ischen Union oder in anderen Vertragsstaaten des Abkommens &uuml;ber den Europ&auml;ischen Wirtschaftsraum zuvor gek&uuml;rzt. Nur in Ausnahmef&auml;llen wird die volle IP-Adresse an einen Server von Google in den USA &uuml;bertragen und dort gek&uuml;rzt. Die im Rahmen von Google Analytics von dem entsprechenden Browser &uuml;bermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengef&uuml;hrt.</p>

<p>Im Auftrag des Seitenbetreibers wird Google die anfallenden Informationen benutzen, um die Nutzung der Website auszuwerten, um Reports &uuml;ber die Websiteaktivit&auml;ten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen dem Seitenbetreiber gegen&uuml;ber zu erbringen (Art. 6 Abs. 1 lit. f DSGVO). Das berechtigte Interesse an der Datenverarbeitung liegt in der Optimierung dieser Website, der Analyse der Benutzung der Website und der Anpassung der Inhalte. Die Interessen der Nutzer werden durch die Pseudonymisierung hinreichend gewahrt.</p>

<p>Google LLC. bietet eine Garantie auf Basis der Standardvertragsklauseln ein angemessenes Datenschutzniveau einzuhalten. Die gesendeten und mit Cookies, Nutzerkennungen (z. B. User-ID) oder Werbe-IDs verkn&uuml;pften Daten werden nach 50 Monaten automatisch gel&ouml;scht. Die L&ouml;schung von Daten, deren Aufbewahrungsdauer erreicht ist, erfolgt automatisch einmal im Monat.</p>

<p>Die Erfassung durch Google Analytics kann verhindert werden, indem der Seitenbesucher die Cookie-Einstellungen f&uuml;r diese Website anpasst. Der Erfassung und Speicherung der IP-Adresse und der durch Cookies erzeugten Daten kann au&szlig;erdem jederzeit mit Wirkung f&uuml;r die Zukunft widersprochen werden. Das entsprechende Browser- Plugin kann unter dem folgenden Link heruntergeladen und installiert werden: https://tools.google.com/dlpage/gaoptout.</p>

<p>Der Seitenbesucher kann die Erfassung durch Google Analytics auf dieser Webseite verhindern, indem er auf folgenden Link klickt. Es wird ein Opt-Out-Cookie gesetzt, der die zuk&uuml;nftige Erfassung der Daten beim Besuch dieser Website verhindert.</p>

<p>Weitere Informationen zur Datennutzung durch Google, Einstellungs- und Widerspruchsm&ouml;glichkeiten, finden sich in der Datenschutzerkl&auml;rung von Google (https://policies.google.com/privacy) sowie in den Einstellungen f&uuml;r die Darstellung von Werbeeinblendungen durch Google (https://adssettings.google.com/authenticated).</p>

<h3>reCAPTCHA</h3>


<p>Zum Schutz Ihrer Anfragen per Internetformular verwenden wir den Dienst reCAPTCHA des Unternehmens Google LLC (Google). Die Abfrage dient der Unterscheidung, ob die Eingabe durch einen Menschen oder missbr&auml;uchlich durch automatisierte, maschinelle Verarbeitung erfolgt. Die Abfrage schlie&szlig;t den Versand der IP-Adresse und ggf. weiterer von Google f&uuml;r den Dienst reCAPTCHA ben&ouml;tigter Daten an Google ein. Zu diesem Zweck wird Ihre Eingabe an Google &uuml;bermittelt und dort weiter verwendet. Ihre IP-Adresse wird von Google jedoch innerhalb von Mitgliedstaaten der Europ&auml;ischen Union oder in anderen Vertragsstaaten des Abkommens &uuml;ber den Europ&auml;ischen Wirtschaftsraum zuvor gek&uuml;rzt. Nur in Ausnahmef&auml;llen wird die volle IP-Adresse an einen Server von Google in den USA &uuml;bertragen und dort gek&uuml;rzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung dieses Dienstes auszuwerten. Die im Rahmen von reCaptcha von Ihrem Browser &uuml;bermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengef&uuml;hrt. F&uuml;r diese Daten gelten die abweichenden Datenschutzbestimmungen des Unternehmens Google. Weitere Informationen zu den Datenschutzrichtlinien von Google finden Sie unter: https://policies.google.com/privacy?hl=de</p>
</Wrapper>
</Section>

</MainLayout>