---
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
import Wrapper from "../components/Wrapper.astro";
import Question from "../components/Question.astro";
import HeroShot from "../components/HeroShot.astro";
---
<MainLayout
title="FAQs"
description=""
>
<HeroShot 
heading="Häufig gestellte Fragen zu Zumba®"
displayClass="hidden"
/>
<Section
paddingClass="padding--120"
>
<Wrapper 
wrapperClass="wrapper--smaller">
<Question 
question="Wie gut ist Zumba® zum Abnehmen?"
answer="Zumba® kann eine effektive Möglichkeit sein, Gewicht zu verlieren, da es eine kalorienverbrennende Übung ist. Die Intensität des Tanzes kann dazu beitragen, dass Sie Fett verbrennen und Muskeln aufbauen. Um das meiste aus Ihrem Workout herauszuholen, sollten Sie es regelmäßig und in Kombination mit einer gesunden Ernährung und anderen körperlichen Aktivitäten machen."/>
<Question 
question="Ist Zumba® gut für den Körper?"
answer="Ja, Zumba kann gut für den Körper sein. Es hilft, den Körper zu straffen, die Muskulatur zu stärken und die körperliche Fitness zu verbessern."/>
<Question 
question="Ist Zumba® etwas für Anfänger?"
answer="Ja, Zumba ist auch für Anfänger geeignet. Es gibt verschiedene Schwierigkeitsstufen und die Bewegungen können angepasst werden. Es ist wichtig, bei Bedarf Pausen einzulegen und sich auf seine eigenen körperlichen Fähigkeiten zu konzentrieren."/>
<Question 
question="Kann man Zumba® wirklich abnehmen?"
answer="Ja, Zumba ist ein effektives Mittel zur Gewichtsreduktion. Durch das Tanzen verbrennt man Kalorien und stärkt gleichzeitig die Muskulatur. Wichtig ist jedoch, dass man regelmäßig und über einen längeren Zeitraum teilnimmt, um die besten Ergebnisse zu erzielen."/>
</Wrapper>
</Section>
</MainLayout>