---
import HeroShot from "../components/HeroShot.astro";
import Wrapper from "../components/Wrapper.astro";
import Section from "../components/Section.astro";
import Grid from "../components/Grid.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout
title="Impressum von Zumba®-Stream"
description="Du brauchst unsere Adresse oder möchtest wissen, wie du uns kontaktieren kannst. Dann ist die Impressumseite deine Anlaufstelle. Hier findest du Kontaktmöglichkeiten."
>
<HeroShot 
heading="Impressum und Urheberrecht von Zumba®-Stream"/>
<Section
heading="Impressum"
>
    <Wrapper
    wrapperClass="wrapper"
    >
    <Grid
    gridColumnClass="grid-3fr"
    >
    <div>
<h4>Anschrift</h4>

<p>Zumba®-Stream by Salsa Dance Studio Mainz GmbH <br> Ebersheimer Weg 85 <br> 55131 Mainz</p>

<p>Amtsgericht: Mainz HRB 47479</p>
</div>
<div>
<h4>Gesch&auml;ftsf&uuml;hrer</h4>
<p>Daniel Huber</p>
</div>
<div>
<h4>Telefon</h4>
<p>Mo-Fr: 13:00 bis 21:00</p>
<p>+49 178 7884484 <br> +49 176 23686035</p>
</div>
<div>
    <h4>Email und Website</h4>
    <p>E-Mail: <a href="mailto:premium@zumbamainz.de" class="link">premium@zumbamainz.de</a> <br><a href="www.zumba-stream.com" class="link">www.zumba-stream.com</a></p>
</div>
<div>
<h4>ZUMBA&reg</h4>

<p>ZUMBA&reg; und die ZUMBA Logos sind Markenzeichen von Zumba Fitness, LLC. Zur Nutzung ist eine Lizenz erforderlich.</p>

<p>STRONG Nation&trade; und die STRONG Nation&trade; Logos sind Markenzeichen von Zumba Fitness, LLC. Zur Nutzung ist eine Lizenz erforderlich.</p>

<p>https://www.zumba.com/de-DE/trademark</p>
</div>
</Grid>
</Wrapper>
</Section>

<Section
heading="Haftung &amp; Urheberrecht"
paddingClass="padding--120">
    <Wrapper
    wrapperClass="wrapper--smaller">
    <p>Das Copyright aller Seiten liegt bei der Salsa Dance Studio Mainz GmbH. Alle Inhalte d&uuml;rfen ohne vorherige Genehmigung nicht auf anderen Internetseiten, Publikationen, Datentr&auml;gern etc. ver&ouml;ffentlicht und weiterverbreitet werden. Wir &uuml;bernehmen keine Haftung f&uuml;r diese Informationen und behalten uns vor, jederzeit &Auml;nderungen ohne vorherige Ank&uuml;ndigungen durchzuf&uuml;hren. Des Weiteren &uuml;bernehmen wir keine Haftung f&uuml;r Internetseiten und deren Inhalte, auf welche wir verweisen.</p>

    <h4>Design Konzept</h4>
    
    <p>Das Design Konzept wurde eigens f&uuml;r Zumba in Mainz GmbH kreiert &amp; mithilfe von Wix umgesetzt. Das Design stammt von <a href="https://floravoelcker.de/" class="link">Flora Voelcker</a>.</p>
    
    <p>Auf der Grundlage der EU-Verordnung Nr. 524/2013 hat die EU-Kommission auf europ&auml;ischer Ebene eine interaktive Website (OS-Plattform) bereit gestellt. Diese dient der Beilegung au&szlig;ergerichtlicher Streitigkeiten aus Online-Rechtsgesch&auml;ften. Sie finden diese OS-Plattform der EU-Kommission unter dem Link: http://ec.europa.eu/consumers/odr/.</p>
    </Wrapper>
</Section>
</MainLayout>