---
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";
import Section from "../components/Section.astro";
import Wrapper from "../components/Wrapper.astro";
import Grid from "../components/Grid.astro";
import Address from "../components/Address.astro";
import ContactForm from "../components/ContactForm.astro";
---

<MainLayout
title="Kontakt Dance-Stream"
description="Du fragst dich wie du Dance-Stream kontakieren kannst. Auf unserer Kontaktseite gibt es ein Kontaktformular, welches du nutzen kannst, um uns deine Fragen oder dein Feedback zu schicken."
opengraph={{
	title:'Dance-Stream Kontakt',
	url:'https://www.zumba-stream.com/kontakt/',
	image:'https://www.zumba-stream.com/images/index-opengraph.jpg',
	type:'website',
	description:'Fragen zum Zumba® online? Erhalte Antworten vom Dance-Stream Team.',
	locale:'de'
}}
>
<HeroShot 
heading="Kontakt und Support"
subheading="Du brauchst Hilfe bei einem Thema oder hast eine Frage? Schreibe uns eine Nachricht."
displayClass="hidden"
/>
<Section
>
<Wrapper
wrapperClass="wrapper">
    <Grid
    gridColumnClass="grid-2fr">
    <div>
    <h3>Dance-Stream</h3>
<Address />
</div>
<ContactForm/>
</Grid>
</Wrapper>
</Section>
</MainLayout>