---
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
import Grid from "../components/Grid.astro";
import Wrapper from "../components/Wrapper.astro";
import PriceCard from "../components/PriceCard.astro";
import Button from "../components/Button.astro";
import HeroShot from "../components/HeroShot.astro";
import GhostButton from "../components/GhostButton.astro";

---

<MainLayout
title="Preise von Zumba®-Stream"
description="Wieviel kostet dich Zumba® Tanz? Bei Zumba®-Stream zahlst du für Zumba® Online einen fairen Preis. Dafür bekommst du Spaß, Stimmung, Party, Bock auf Bewegung und dein Wunschgewicht."
opengraph={{
	title:'Preise Zumba®-Stream',
	url:'https://www.zumba-stream.com/preise/',
	image:'https://www.zumba-stream.com/images/index-opengraph.jpg',
	type:'website',
	description:'Wieviel Zumba®-Stream kostet, erfährst du hier.',
	locale:'de'
}}
>
<HeroShot
heading="Erst 14 Tage testen. Dann zahlen."
displayClass="hidden"
/>
    <Section>
    <Wrapper
    wrapperClass="wrapper">

        <Grid
        gridColumnClass="grid-3fr">
        <div class="row--2">
        <PriceCard 
        heading="Starter"
        subheading="Frei für immer"
        oldPrice=""
        selectedPrice="0 €"
        price=""
        listItems={[
            "keine Laufzeit",
            "10 Stunden Zumba® Online",
            "Zumba Grundschritte",
            "Anfänger Workout",
            "Keine Laufzeit"
        ]}
         listItemsExtra={[
            ]}
            borderClass="price-card__border--left"
            btn={{
                href:'',
                text:'Jetzt loslegen'
            }}
            >
        </PriceCard>
        </div>
        <div class="toggle__container  col--span-3">
            <p>jährlich</p>
            <input type="checkbox" id="checkbox" >
            <label class="label" for="checkbox"><div class="selected"></div></label>
            <p>monatlich</p>
        </div>
        <div class="row--2">
            <div class="price__box">
                <div class="price__card" id="price__card">
                    <PriceCard 
                    heading="Premium Abo"
                    subheading="monatlich oder jährlich"
                    oldPrice="24,99 €"
                    selectedPrice="ab 9,99 € / Monat"
                    price="24,99 €"
                    listItems={[
                        "regelmäßig neue Workouts",
                        "13 lizensierte Trainer",
                        "200+ Stunden Zumba® Online",
                        "Zumba® Fitness 140+ Stunden", 
                        "Zumba® Toning 25+ Stunden",
                        "STRONG™ Nation 24+ Stunden",
                        "STRONG 30™ 9 Stunden",
                        "500+ Stunden Repertoire",
                        "Specials 6+ Stunden",
                        "Übertragung auf TV möglich",
                        "Urlaubsfeeling pur",
                    ]}
                    listItemsExtra={[
                    ]}
                    borderClass="price-card__border--center"
                    btn={{
                        href:'',
                        text:'Jetzt loslegen'
                    }}
                    >
                    </PriceCard>
                 </div>
            </div>
        </div>
        <div class="row--2">
                <PriceCard 
                heading="VIP-Abo"
                subheading="Individuell"
                oldPrice="119,99 €"
                selectedPrice="99,99 € / Monat"
                listItems={[
                    "regelmäßig neue Workouts",
                    "13 lizensierte Trainer",
                    "200+ Stunden Zumba® Online",
                    "Zumba® Fitness 140+ Stunden", 
                    "Zumba® Toning 25+ Stunden",
                    "STRONG™ Nation 24+ Stunden",
                    "STRONG 30™ 9 Stunden",
                    "500+ Stunden Repertoire",
                    "Specials 6+ Stunden",
                    "Übertragung auf TV möglich",
                    "Urlaubsfeeling pur",
                ]}
                listItemsExtra={[
                    "4 online Privatstunden im Monat mit Kristina",
                    "Mindestlaufzeit 3 Monate",
                    "individuelle Beratung, um Deine Ziele zu erreichen",
                    "persönliche, auf Deine Vorlieben abgestimmte Stunden",
                ]}
                borderClass="price-card__border--right"
                btn={{
                    href:'',
                    text:'Jetzt loslegen'
                }}
                >
                </PriceCard>
            </div>
        </Grid>
    </Wrapper>
</Section>
</MainLayout>