---
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
import Grid from "../components/Grid.astro";
import Wrapper from "../components/Wrapper.astro";
import PriceCard from "../components/PriceCard.astro";
import Button from "../components/Button.astro";
import HeroShot from "../components/HeroShot.astro";

---

<MainLayout
title="Preise von Zumba®-Stream"
description="Wieviel kostet dich Zumba® Tanz? Bei Zumba®-Stream zahlst du für Zumba® Online einen fairen Preis. Dafür bekommst du Spaß, Stimmung, Party, Bock auf Bewegung und dein Wunschgewicht."
opengraph={{
	title:'Preise Zumba®-Stream',
	url:'https://www.zumba-stream.com/preise/',
	image:'https://www.zumba-stream.com/images/index-opengraph.jpg',
	type:'website',
	description:'Wieviel Zumba®-Stream kostet, erfährst du hier.',
	locale:'de'
}}
>
<HeroShot
heading="Preise für Online Zumba®-Stream"
displayClass="hidden"
/>
    <Section>
    <Wrapper
    wrapperClass="wrapper">
        <Grid
        gridColumnClass="grid-3fr">
        <PriceCard 
        heading="Dein Einstieg"
        subheading="unverbindlich"
        oldPrice="34,99 €"
        newPrice="9,99 € / Monat"
        listItems={[
            "7 Tage gratis testen",
            "neue Videos jede Woche",
            "keine Laufzeit",
            "über 34 Stunden Zumba® Fitness, Zumba® Toning & STRONG™ Nation",
            "13 lizensierte Trainer"
        ]}
        >
        <Button 
        alignClass="btn--center"
        btn={{
            href:'https://zim.uscreen.io/orders/customer_info?o=84206',
            text:'Jetzt testen'
        }} />
        </PriceCard>
        
        <PriceCard 
        heading="Monats-Abo"
        subheading="Flexibel"
        oldPrice="34,99 €"
        newPrice="24,99 € / Monat"
        listItems={[
            "7 Tage gratis testen",
            "regelmäßig neue Workouts",
            "Laufzeit einen Monat",
            "Wert mehr als 4240 €",
            "200+ Stunden Zumba® Online",
            "500+ Stunden Repertoire",
            "Zumba® Fitness 140+ Stunden", 
            "Zumba® Toning 25+ Stunden",
            "Urlaubsfeeling 28+ Stunden",
            "STRONG™ Nation 24+ Stunden",
            "STRONG 30™ 9 Stunden",
            "Specials 6+ Stunden",
            "13 lizensierte Trainer",
            "Übertragung auf TV möglich",
            "flexible Laufzeit/monatlich kündbar",
            "ohne Vorkenntnisse starten"
        ]}
        >
        <Button 
        alignClass="btn--center"
        btn={{
            href:'https://zim.uscreen.io/orders/customer_info?o=78651',
            text:'Jetzt testen'
        }} />
        </PriceCard>
        
        <PriceCard 
        heading="Jahres-Abo"
        subheading="58% sparen"
        oldPrice="34,99 €"
        newPrice="14,99 € / Monat"
        listItems={[
           "7 Tage gratis testen",
            "regelmäßig neue Workouts",
            "Laufzeit ein Jahr",
            "Wert mehr als 4240 €",
            "200+ Stunden Zumba® Online",
            "500+ Stunden Repertoire",
            "Zumba® Fitness 140+ Stunden", 
            "Zumba® Toning 25+ Stunden",
            "Urlaubsfeeling 28+ Stunden",
            "STRONG™ Nation 24+ Stunden",
            "STRONG 30™ 9 Stunden",
            "Specials 6+ Stunden",
            "13 lizensierte Trainer",
            "Übertragung auf TV möglich",
            "flexible Laufzeit/monatlich kündbar",
            "ohne Vorkenntnisse starten",
            "Einmalzahlung für ein Jahr (179,99 €)"
        ]}
        >
        <Button
        alignClass="btn--center" 
        btn={{
            href:'https://zim.uscreen.io/orders/customer_info?o=77420',
            text:'Jetzt testen'
        }} />
        </PriceCard>
        
        <PriceCard 
        heading="VIP-Abo"
        subheading="Individuell"
        oldPrice="119,99 €"
        newPrice="99,99 € / Monat"
        listItems={[
            "4 online Privatstunden im Monat mit Kristina",
            "Mindestlaufzeit 3 Monate",
            "individuelle Beratung, um Deine Ziele zu erreichen",
            "persönliche, auf Deine Vorlieben abgestimmte Stunden",
            "200+ Stunden Zumba® Online",
            "500+ Stunden Repertoire",
            "Zumba® Fitness 140+ Stunden", 
            "Zumba® Toning 25+ Stunden",
            "Urlaubsfeeling 28+ Stunden",
            "STRONG™ Nation 24+ Stunden",
            "STRONG 30™ 9 Stunden",
            "Specials 6+ Stunden",
            "13 lizensierte Trainer",
            "Übertragung auf TV möglich",
            "ohne Vorkenntnisse starten"
        ]}
        >
        <Button 
        alignClass="btn--center"
        btn={{
            href:'https://zim.uscreen.io/orders/customer_info?o=138160',
            text:'Jetzt kaufen'
        }} />
        </PriceCard>
        </Grid>
    </Wrapper>
</Section>

</MainLayout>