---
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
import Grid from "../components/Grid.astro";
import Wrapper from "../components/Wrapper.astro";
import PriceCard from "../components/PriceCard.astro";
import HeroShot from "../components/HeroShot.astro";
import BackgroundImg from "../components/BackgroundImg.astro";
---

<MainLayout
    title="Preise von Dance-Stream"
    description="Wieviel kostet dich Zumba® Tanz? Bei Dance-Stream zahlst du für Zumba® Online einen fairen Preis. Dafür bekommst du Spaß, Stimmung, Party, Bock auf Bewegung und dein Wunschgewicht."
    opengraph={{
        title: "Preise Dance-Stream",
        url: "https://www.zumba-stream.com/preise/",
        image: "https://www.zumba-stream.com/images/index-opengraph.jpg",
        type: "website",
        description: "Wieviel Dance-Stream kostet, erfährst du hier.",
        locale: "de",
    }}
>
    <HeroShot
    img={{
        src:'/images/team-price-page.webp',
        alt:'Angebot von Dance-Stream',
        width:'500'
    }}
    backgroundImgClass="teaser__background--color-patch"
        heading="Dance-Stream kannst Du 14 Tage kostenlos testen"
        subheading="Leg‘ los und wähle Dein passendes Abo. Zahle erst wenn Du überzeugt bist."
        displayClass="hidden"
    />
    <BackgroundImg
    backgroundImgClass="color-patch--purple-left">
    <Section>
        <Wrapper wrapperClass="wrapper">
            <div class="toggle__container col--span-3">
                <p>Jährlich</p>
                <input
                    type="checkbox"
                    id="price-toggle"
                    aria-label="Umschalten zwischen jährlichen und monatlichen Preisen."
                />
                <label class="label" for="price-toggle"
                    ><div class="selected"></div></label
                >
                <p>Monatlich</p>
            </div>
            <Grid gridColumnClass="grid-2fr">                
<!-- 
<div class="price__card--row-3">
                    <PriceCard
                        heading="Starter"
                        subheading="+6 Stunden Zumba® Online.<br> Frei für immer."
                        alwaysFree
                        listItems={[
                            "4 lizensierte Trainer",
                            "Zumba® Online Anfänger Workout",
                            "Zumba® Toning Schnupperkurs",
                            "Latin Workout mit Nadine",
                            "Herz-Kreislauf Workout mit Lena",
                            "Welcome Zumba® mit Alicia",
                            "STRONG Nation am Meer",
                            "Zumba® Toning Strand Workout",
                            "Übertragung auf TV möglich",
                            "Keine Laufzeit",
                            "ohne Vorkenntnisse starten"
                        ]}
                        listItemsExtra={[]}
                        displayUlClass="hidden"
                        borderClass="price-card__border--left"
                        btnMonthly={{
                            href: "https://zim.uscreen.io/orders/customer_info?o=142557",
                            text: "Jetzt loslegen",
                        }}
                        btnYearly={{
                            href: "https://zim.uscreen.io/orders/customer_info?o=142557",
                            text: "Jetzt loslegen",
                        }}
                    />
-->
                </div>
                <div class="price__card--row-1">
                    <div class="price__box">
                        <div class="price__card">
                            <PriceCard
                                discount="Spare 60%"
                                heading="Premium Abo"
                                subheading="200+ Stunden Zumba® Online"
                                monthlyPrices={{
                                    oldPrice: "24,99 €",
                                    price: "9,99 € / Monat",
                                }}
                                yearlyPrices={{
                                    oldPrice: "179,99 €",
                                    price: "119,99 € / Jahr",
                                }}
                                listItems={[
                                    "200+ Stunden Zumba® Online",
                                    "regelmäßig neue Workouts",
                                    "13 lizensierte Trainer",
                                    "140+ Stunden Zumba® Fitness",
                                    "25+ Stunden Zumba® Toning",
                                    "24+ Stunden STRONG™ Nation",
                                    "9 Stunden STRONG 30™",
                                    "6+ Stunden Specials",
                                    "500+ Stunden Repertoire",
                                    "Übertragung auf TV möglich",
                                    "Urlaubsfeeling pur",
                                    "Starterpaket inklusive",
                                    "ohne Vorkenntnisse starten"
                                ]}
                                listItemsExtra={[]}
                                displayUlClass="hidden"
                                borderClass="price-card__border--center"
                                btnMonthly={{
                                    href: "https://zim.uscreen.io/checkout/new?o=78651&d=ZUMBASTART",
                                    text: "Jetzt kostenlos testen",
                                }}
                                btnYearly={{
                                    href: "https://zim.uscreen.io/checkout/new?o=77420&d=YEARLYPREMIUM",
                                    text: "Jetzt kostenlos testen",
                                }}
                            />
                        </div>
                    </div>
                </div>
                <div class="price__card--row-2">
                    <PriceCard
                        heading="VIP-Abo"
                        subheading="Individuelle Betreuung"
                        monthlyPrices={{
                            oldPrice: "249 €",
                            price: "199 € / Monat",
                        }}
                        listItems={[
                            "200+ Stunden Zumba® Online",
                            "regelmäßig neue Workouts",
                            "13 lizensierte Trainer",
                            "140+ Stunden Zumba® Fitness",
                            "25+ Stunden Zumba® Toning",
                            "24+ Stunden STRONG™ Nation",
                            "9 Stunden STRONG 30™",
                            "6+ Stunden Specials",
                            "500+ Stunden Repertoire",
                            "Übertragung auf TV möglich",
                            "Urlaubsfeeling pur",
                            "Starterpaket inklusive",
                            "ohne Vorkenntnisse starten"
                        ]}
                        listItemsExtra={[
                            "4 Zumba® Online Privatstunden pro Monat mit Kristina",
                            "3 Monate Mindestlaufzeit",
                            "individuelle Beratung, um Deine Ziele zu erreichen",
                            "persönliche, auf Deine Vorlieben abgestimmte Stunden",
                        ]}
                        borderClass="price-card__border--right"
                        btnMonthly={{
                            href: "https://zim.uscreen.io/checkout/new?o=138160&d=VIP",
                            text: "Jetzt loslegen",
                        }}
                        btnYearly={{
                            href: "https://zim.uscreen.io/checkout/new?o=138160&d=VIP",
                            text: "Jetzt loslegen",
                        }}
                    />
                </div>
            </Grid>
        </Wrapper>
    </Section>
</BackgroundImg>
</MainLayout>

<style is:inline>
    body.show-monthly-prices .yearly,
    body.show-monthly-prices .btn--yearly {
        display: none;
    }

    body:not(.show-monthly-prices) .monthly,
    body:not(.show-monthly-prices) .btn--monthly  {
        display: none;
    }

    body.show-monthly-prices .price__discount {
        background-color: transparent;
        color: transparent;
    }
    
    .price__box,
    .price__card {
        height: 100%;
    }

    .toggle__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em auto 1.8em auto;
    }

    .toggle__container input {
        display: none;
    }

    .toggle__container label {
        border-radius: var(--border-radius);
        height: 2em;
        width: 4em;
        border: 1px solid var(--first-color);
        cursor: pointer;
        position: relative;
        margin: 0 0.4em;
    }

    .toggle__container .label .selected {
        position: absolute;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
        height: 90%;
        width: 45%;
        background-color: var(--first-color);
        border-radius: 50%;
        transition: left 0.3s ease-in;
    }

    input:checked ~ .label .selected {
        left: 2em;
        background-color: #fff;
        border: 2px solid var(--first-color);
    }

    .price__card--row-1 {
        grid-row-start: 1;
    }

    .price__card--row-2 {
        grid-row-start: 2;
    }

    .price__card--row-3 {
        grid-row-start: 3;
    }

    @media only screen and (min-width: 40em) {
        .price__card--row-1,
        .price__card--row-3 {
        grid-row-start: 1;
    }
    }

    
    @media only screen and (min-width: 60em) {
        .price__card--row-1,
        .price__card--row-2,
        .price__card--row-3 {
        grid-row-start: 1;
    }
    }
</style>
